.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.pagination{
  display: flex;
  justify-content: center;
  list-style: none;
  cursor: pointer;
}

.pagination a{
  padding: 10px;
  border: 1px solid #47a7de;
  color: #47a7de;
}
.pagination__link{
  font-weight: bold;
}

.pagination__link--active a {
  color: #fff;
  background: #47a7de;
}

.pagination__link--active a{
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}

.loader {
  height: 100vh;
  width: 100%;
  background: rgba(0,0,0,0.5);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}
.loader .spinner-border {
  position: absolute;
  top: 40%;
  left: 50%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
